body {
    padding: 0;
    font-family: Charm, sans-serif;
    background-color: beige;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
p {
    font-size: 300%;
}